{% extends 'base.html.twig' %}
{% block title %}Climat{% endblock %} {%
    block body %}
    <h1>Le climat</h1>

    <br />

    Mettre des info

    <br />
    <br />


    <a href="">Escape Game: Trouver charlie</a><br />
    <a href="">Pensiez-vous avoir déjà vu les pire code jamais écris c'est vrai, ici vous compredrai même ce que vous verrai </a><br />
    <a href="">Hadouken</a><br />

{% endblock %}