{% extends 'base.html.twig' %}
{% block title %}Climat{% endblock %} {%
    block body %}
    <h1>Le climat</h1>

    <br />



    <a href="">Escape Game: Trouver charlie</a>
    <a href="">Pensiez-vous avoir déjà vu les pire code jamais écris c'est vrai, ici vous compredrai même ce que vous verrai </a>
    <a href="">Hadouken</a>

{% endblock %}