{% extends 'base.html.twig' %}
{% block title %}{% endblock %} {%
    block body %}
    <h1>Escape Game</h1>

    <br />

    La cabane est vérouillé



    <br />
    <br />
    //Mettre un timer en haut à droite 5:00
    //
    <br />
    <a href="{{ path("app_cabane_interieur") }}">Sortir(Vous avez la clef)</a><br />
    <a href="{{ path("app_jardin") }}">Retourner au jardin</a><br />


{% endblock %}