{% extends 'base.html.twig' %}
{% block title %}{% endblock %} {%
    block body %}
    <h1>Escape Game</h1>

    <br />

    On dirait que la porte est ouverte mais que Charlie à laissé ses chausures

    <img src="{{ asset('images/chaussure.jpg') }}">Fouiller les chaussures -> clef
    <img src="{{ asset('images/porte.jpg') }}">f
    <br />
    <br />
    //Mettre un timer en haut à droite 5:00
    //
    <br />
    <a href="{{ path("app_jardin") }}">Sortir</a><br />
    <a href="{{ path("app_maison") }}">Explorer la maison</a><br />


{% endblock %}