{% extends 'base.html.twig' %}
{% block title %}{% endblock %} {%
    block body %}
    <h1>Escape Game</h1>

    <br />

    Vous voyer des empreintes de pas se diriger vers la cabane de jardin.
    Il y a un magnifique jardin de rose rouge et blanche.



    <br />
    <br />
    //Mettre un timer en haut à droite 5:00
    //
    <br />
    <a href="{{ path("app_cabane") }}">Aller à la cabane</a><br />
    <a href="{{ path("app_rosier") }}">Explorer le rosier</a><br />


{% endblock %}