{% extends 'base.html.twig' %}
{% block title %}{% endblock %} {%
    block body %}
    <h1>Escape Game</h1>

    <br />

   Quel magnifique rosier

    <img src="{{ asset('images/rosier.jpg') }}">

    <br />
    <br />
    //Mettre un timer en haut à droite 5:00
    //
    <br />
    <a href="{{ path("app_jardin") }}">Retourner au jardin</a><br />



{% endblock %}