{% extends 'base.html.twig' %}
{% block title %}Climat{% endblock %} {%
    block body %}
    <h1>Escape Game</h1>

    <br />

    Bienvenue,
    Dans cette escape game, le but est de retrouver charlie qui possède le secret pour réduire les effets du changement climatique mais timide comme il est il s'est caché quelque part sur se site.
    Votre mission le retrouver en moins de 5 min ou le secret qu'il détient ne seront plus utilisable.
    Faite attention a ne pas allez dans des chemins sans issue.
    Vous pouvez tenter de modifier la barre du haut si les indice vous y induisent

    <br />
    <br />

    

{% endblock %}